* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;  
} 

header .cab1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: white;
}

header {
  background-color: #0056b3;
  color: white;
  padding: 40px 60px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

header p {
  max-width: 900px;
  line-height: 1.6;
  font-size: 1.1em;
}
section .pesquisar { 
    float: right;
    width: 90px; 
    height: 30px; 
    border: 2px solid blue; 
    border-radius: 5px; 
    padding: 5px; 
    font-size: 16px; 
}


button {
    cursor: pointer; 
    border: none; 
    outline: none; 
    background: #0056b3; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    width: 100%; 
} 

article { 
    text-align: center;
}

button .botao1 { 
    cursor: pointer; 
    border: none; 
    outline: none; 
    background: #0056b3; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    width: 100%; 
} 

.nav-links {
    display: inline-block
}


.botao2 {
    float: right; 
    margin-right: 10px;
    background: #0056b3;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px; 
}

.container { 
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
        justify-content: center; 
        align-items: stretch; 
        align-content: center;
        height: 1vh; 
        background-color: white; 
        gap: 10px;
        padding: 1px
    } 

.box1 {
    width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 1;
 } 
    
.box2 {  
    width: 200px;
    height: 200px;
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 2; 
} 

.box3 { 
    width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 2;
} 

.box4 { 
    width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 3;
} 

.box5 { 
    width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 3;

} 
.box6 { 
    width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease;
    order: 3; 
} 

.box7 { 
   width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 3;
} 

.box8 { 
    width: 200px;
    height: 200px; 
    border: 5px solid none; 
    border-radius: 5px; 
    background-color: whitesmoke ; 
    margin: 5px; 
    font-size: 1em; 
    font-weight: bold; 
    color: black; 
    display: inline;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    transition: all 0.3s ease; 
    order: 4;

} 

@media (max-width: 1100px) {
  
}
